#root {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  /* padding: 2rem; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracker-root {
  padding: 6rem;
  padding-top: 2rem;
  height: 100vh;
}
@media screen and (max-width: 640px) {
  #root{
    padding: 0;
  }
  .tracker-root {
    padding: 1rem;
    padding-top: 1rem;
  }
}