@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";



:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: dark light; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  /* width: inherit; */
  min-height: 100vh;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

/* Hide scrollbars for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

::-webkit-scrollbar{
  display: none;
}